<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <% if @user.errors.any? %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <ul>
                        <% @user.errors.full_messages.each do |message|%>
                        <li> <%= message %> </li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <%= form_with(url: users_backoffice_profile_path, model: @user, class: "user", local: true) do |form| %>
                <div class="form-group">
                    <%= form.label :Nome%>
                    <%= form.text_field :name, class: "form-control form-control-user", placeholder: "Nome"%>
                </div>
                <div class="form-group">
                    <%= form.label :Email%>
                    <%= form.text_field :email, class: "form-control form-control-user", id: "exampleInputEmail", placeholder: "Email"%>
                </div>
                <div class="form-group">
                    <%= form.label :Senha%>
                    <%= form.password_field :password, class: "form-control form-control-user", id: "exampleInputPassword", placeholder: "Senha"%>
                </div>
                <div class="form-group">
                    <%= form.label :Confirmação_da_senha %>
                    <%= form.password_field :password_confirmation, class: "form-control form-control-user", id: "exampleRepeatPassword", placeholder: "Confirmação da senha"%>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">Salvar</button>
            <% end %>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
