<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Perfil do Usuário</h1>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <% if @user.errors.any? %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <ul>
                        <% @user.errors.full_messages.each do |message|%>
                        <li> <%= message %> </li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <%= form_with(url: users_backoffice_profile_path, model: @user, class: "user", local: true) do |form| %>
                <div class="form-group">
                    <%= form.text_field :name, class: "form-control form-control-user", placeholder: "Nome"%>
                </div>
                <div class="form-group">
                    <%= form.text_field :email, class: "form-control form-control-user", id: "exampleInputEmail", placeholder: "Email"%>
                </div>

                <%= form.fields_for :user_profile do |profile_form| %>
                    <div class="form-group">
                        <%= profile_form.text_field :address, class: "form-control form-control-user", placeholder: "Endereço"%>
                    </div>

                    <div class="form-group">
                        <%= profile_form.label :Sexo, class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div id="gender" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-outline-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <%= profile_form.radio_button :gender, "M",  "data-parsley-multiple":"gender", "data-parsley-id":"12"%> &nbsp; Masculino &nbsp;
                                </label>
                                <label class="btn btn-outline-danger" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <%= profile_form.radio_button :gender, "F", "data-parsley-multiple":"gender"%> Feminino
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <%= profile_form.text_field :birthdate, type: "date" , class: "form-control form-control-user", placeholder: "Data de Nascimento"%>
                    </div>
                <% end %>

                <div class="form-group">
                    <%= form.password_field :password, class: "form-control form-control-user", id: "exampleInputPassword", placeholder: "Senha"%>
                </div>
                <div class="form-group">
                    <%= form.password_field :password_confirmation, class: "form-control form-control-user", id: "exampleRepeatPassword", placeholder: "Confirmação da senha"%>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">Salvar</button>
            <% end %>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
