<div class="container-fluid">

    <h1 class="text-center"> <%= t('messages.listing', model: @rents.model_name.human(count: 2))%> </h1>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"> <%= translate_field(@rents, :hour) %> </th>
            <th scope="col"> <%= translate_field(@rents, :rental_date) %> </th>
            <th scope="col"> <%= translate_field(@rents, :description) %> </th>
            <th scope="col"> <%= translate_field(@rents, :room_id) %> </th>
            <th scope="col"> <%= "Localização"%> </th>
            <th> 
                <%= link_to new_admins_backoffice_rent_path, class:"btn btn-success btn-circle" do%>
                    <i class="fas fa-plus"></i>
                <% end %>
            </th>
        </tr>
        </thead>
        <tbody>
            <% @rents.each do |rent| %>
                <tr>
                    <th scope="row"> <%= rent.id %> </th>
                    <td> <%= rent.hour %> </td>
                    <td> <%= rent.rental_date %> </td>
                    <td> <%= rent.description %> </td>
                    <td> <%= rent.room.name %> </td>
                    <td> <%= rent.room.location %> </td>
                    <td>
                        <%= link_to edit_admins_backoffice_rent_path(rent), class:"btn btn-primary btn-circle" do%>
                            <i class="fas fa-edit"></i>
                        <% end %>
                        
                        <%= link_to admins_backoffice_rent_path(rent), method: :delete, class:"btn btn-danger btn-circle", data: { confirm: t('messages.confirm_with', item: rent.description.truncate(15)) } do%>
                            <i class="fas fa-trash"></i>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <div class="row" style="justify-content: center">
        <div>
            <%= paginate @rents %>
        </div>
    </div>
</div>
